# Agenda

1. Python Basics<br>

    a. Variables, Loops <br>
    b. Functions <br>
    c. Data Structures - List, Tuple, Dict, Set <br>


2. Setup(Ubuntu) <br>
    a. JuPyter Pycharm<br>
    b. Anaconda<br>
    c. Spark <br>
    d. Handling multiple environments <br>


3. Python Advanced
4. Data Engineering Basics
5. Spark
6. Advanced Spark

## Introduction

**Python**
- a general-purpose interpreted, object-oriented, and high-level programming language.
- supports functional as well as OOP
- can be used as scripting language

### Data Types

1. Text Type :      `str`
2. Numeric Types :  `int`, `float`, `complex`
3. Sequence Types : `list`, `tuple`, `range`
4. Mapping Type:    `dict`
5. Set Types :      `set`, `frozenset`
6. Boolean Type :   `bool`
7. Binary Types :   `bytes`, `bytearray`, `memoryview`

In [3]:
s = input()
numz = s.count("z")
numo = s.count("o")
print(numz, numo)

if 2*numz == numo:
    print("Yes")
else:
    print("No")

zzzzoooooooooooooooo
4 16
No

In [9]:
numz = 0
numo = 0
for ch in s:
    #print(num_p, ch)
    if ch == 'z':
        numz = numz + 1
    if ch == 'o':
        numo = numo + 1

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4


1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [15]:
n = 10
for i in range(n):
    for j in range(n):
        print("*", end = " ")
    print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [10]:
numo, numz

(16, 4)

In [4]:
num = 1 + 2j

In [5]:
type(num)

complex

In [6]:
l1 = [23, 24, 25]

In [7]:
l1

[23, 24, 25]

In [8]:
l1.append(26)

In [9]:
l1

[23, 24, 25, 26]

In [12]:
l1.remove(24)

In [13]:
l1

[23, 25, 26]

In [14]:
l1.pop()

26

In [15]:
l1

[23, 25]

In [17]:
l1.pop(0)

23

In [18]:
l1

[25]

In [59]:
#List of first 100 even numbers
list_even = []

In [60]:
for i in range(2, 21, 2):
    print(f'Value of i = {i}, appending  {i}')
    list_even.append(i)

Value of i = 2, appending  2
Value of i = 4, appending  4
Value of i = 6, appending  6
Value of i = 8, appending  8
Value of i = 10, appending  10
Value of i = 12, appending  12
Value of i = 14, appending  14
Value of i = 16, appending  16
Value of i = 18, appending  18
Value of i = 20, appending  20

In [2]:
list_odd = []
for i in range(1, 30):
    if i%2 != 0:
        print(i)
        list_odd.append(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [3]:
list_odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [45]:
range(10)

range(0, 10)

In [50]:
list(range(5, 10, 2))

[5, 7, 9]

In [73]:
list = ["Vegetable", "Milk", "Chocolates", "Oil", "Milk"]

In [82]:
for item in list:
    print(f"Added {item} to the cart")

Added Vegetable to the cart
Added Milk to the cart
Added Chocolates to the cart
Added Oil to the cart
Added Milk to the cart

In [56]:
dict1 = {}

In [70]:
dict1['Chocolates'] = 100

In [71]:
dict1

{'Milk': 23, 'Vegetable': 50, 'Oil': 220, 'Chocolates': 100}

In [81]:
for item in list:
    print(f"Item in the list = {item}, price = {dict1[item]}")

Item in the list = Vegetable, price = 50
Item in the list = Milk, price = 23
Item in the list = Chocolates, price = 100
Item in the list = Oil, price = 220
Item in the list = Milk, price = 23

In [79]:
for i in range(1, 11):
    print(f"5 x {i} = {5*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [95]:
c = float(input("Enter a temperature in celsius: "))

Enter a temperature in celsius: 30.0

In [96]:
type(c)

float

In [97]:
f = (c * 1.8) + 32
print(f'{c} Celsius is equal to {f} degree Fahrenheit')

30.0 Celsius is equal to 86.0 degree Fahrenheit

In [108]:
s = "elephant is going on a ride!!"

In [110]:
v_list = []
c_list = []
for character in s:
    if character == 'a' or character == 'i' or character == 'e' or character == 'o' or character == 'u':
        v_list.append(character)
    elif character == ' ' or character == '!' or character == '.':
        pass
    else:
        c_list.append(character)

In [111]:
c_list

['l', 'p', 'h', 'n', 't', 's', 'g', 'n', 'g', 'n', 'r', 'd']

In [ ]:
if condition:
    #statement
elif condition:
    #statement
else:
    #statement

In [6]:
price_chart = {"pen" : 10, "milk": 40, "vegetable": 50, "pulses" : 130, "oil" : 190, "chocolate": 130}

In [7]:
price_chart

{'pen': 10,
 'milk': 40,
 'vegetable': 50,
 'pulses': 130,
 'oil': 190,
 'chocolate': 130}

In [10]:
ram_cart = ["pen", "milk", "oil"]
shyam_cart = ["vegetable", "pulses", "pen", "chocolate"]

In [22]:
total_price_ram = 0
total_price_shyam = 0

In [26]:
for item in shyam_cart:
    print(f'Item is {item}, its value is {price_chart[item]}.')
    total_price_shyam = total_price_shyam + price_chart[item]

Item is vegetable, its value is 50.
Item is pulses, its value is 130.
Item is pen, its value is 10.
Item is chocolate, its value is 130.

In [28]:
total_price_shyam

320

### Tuples

In [29]:
t1 = (1, 5)

In [47]:
v1 = (1, -1, 2)

In [48]:
v2 = (-2, 3, 5)

In [49]:
v1

(1, -1, 2)

In [50]:
dot_product = 0
for i in range(3):
    print(i)
    dot_product = dot_product + v1[i]*v2[i]

0
1
2

In [51]:
type(v1)

tuple

### Sets

In [45]:
set1 = set()

In [60]:
set1.remove("Hello")

In [61]:
set1

{12, 34}

In [62]:
duplicates = ["Hitesh", "Umesh", "Ram", "Tom", "rover", "Rummy", "Umesh", "Ram", "Tom", "rover", "Rummy", "Umesh", "Ram", "Tom", "rover", "Rummy"]

In [63]:
type(duplicates)

list

In [69]:
u = set(duplicates)

In [70]:
u

{'Hitesh', 'Ram', 'Rummy', 'Tom', 'Umesh', 'rover'}

#### frozenset

The frozenset() function returns an immutable frozenset object initialized with elements from the given iterable.

Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.

In [67]:
fs = frozenset(duplicates)

In [73]:
u.add("Suresh")
u

{'Hitesh', 'Ram', 'Rummy', 'Suresh', 'Tom', 'Umesh', 'rover'}

In [74]:
fs
fs.add("Suresh")

AttributeError: 'frozenset' object has no attribute 'add'

In [77]:
var1 = 5 > 6

In [78]:
type(var1)

bool

In [83]:
i = 0
j = 1

In [84]:
k = i == j

In [86]:
k

False